export KEYCLOAK_ADMIN_PW=supersecret
export KEYCLOAK_DB_PW=keycloak
export REALM_IMPORT_LOCATION=conf/realm-import.tmpl
export REALM_NAME=realmname
export CLIENT_SECRET=anothersecret
export KEYCLOAK_REALM_ADMIN_PW=supersecret

export HOSTNAME=cluster.local